<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>洗发</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>短发洗</string>
				<key>subtitle</key>
				<string>带头部按摩</string>
				<key>price</key>
				<string>￥29</string>
			</dict>
			<dict>
				<key>title</key>
				<string>长发洗</string>
				<key>subtitle</key>
				<string>带头部按摩</string>
				<key>price</key>
				<string>￥39</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>理发</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>短发理</string>
				<key>subtitle</key>
				<string>洗剪吹综合</string>
				<key>price</key>
				<string>￥59</string>
			</dict>
			<dict>
				<key>title</key>
				<string>长发理</string>
				<key>subtitle</key>
				<string>洗剪吹综合</string>
				<key>price</key>
				<string>￥69</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>护理</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>烫发护理</string>
				<key>subtitle</key>
				<string>焗油+柔顺护理</string>
				<key>price</key>
				<string>￥119</string>
			</dict>
			<dict>
				<key>title</key>
				<string>直发护理</string>
				<key>subtitle</key>
				<string>柔顺护理</string>
				<key>price</key>
				<string>￥99</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>染发</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>定制烫染套餐</string>
				<key>subtitle</key>
				<string>四星设计师操刀</string>
				<key>price</key>
				<string>￥499</string>
			</dict>
			<dict>
				<key>title</key>
				<string>流行发色染</string>
				<key>subtitle</key>
				<string>品牌染发膏</string>
				<key>price</key>
				<string>￥99</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>烫发</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>定制烫染套餐</string>
				<key>subtitle</key>
				<string>四星设计师操刀</string>
				<key>price</key>
				<string>￥499</string>
			</dict>
			<dict>
				<key>title</key>
				<string>今夏流行烫</string>
				<key>subtitle</key>
				<string>品牌烫发膏</string>
				<key>price</key>
				<string>￥299</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>面部护理</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>去黑头+面膜护理</string>
				<key>subtitle</key>
				<string>专业美容师</string>
				<key>price</key>
				<string>￥69</string>
			</dict>
			<dict>
				<key>title</key>
				<string>面部水疗</string>
				<key>subtitle</key>
				<string>顶级体验</string>
				<key>price</key>
				<string>￥99</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
